/* UNIVERSAL STYLES */

body {
    margin: 0;
    font-family: "Lexend Mega", sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
}

a {
    color: black;
}

h2,
h3,
h4,
p {
    margin: 0;
    padding: 10px;
}

/* HEADER SECTION */

.header {
    display: flex;
    flex-direction: column;
    align-items: cetner;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

.navbar p {
    display: inline-block;
    padding: 10px 10px;
}


/* MAIN SECTION */

.main {
    padding-top: 35px;
    opacity: 0.9;
}

/* MISSION SECTION */

.mission {
    display: flex;
    height: 300px;
    background-image: url("scyscrapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 35px;
}

.mission .content {
    margin: auto;
    background-color: white;
    width: 100%;
}

/* PORTFOLIO SECTION */

#portfolio {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
}

.company span {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}

/* TEAM SECTION */

.team {
    background-image: url("pavement.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.teammate {
    display: inline-block;
    padding: 10px;
    color: white;
    flex-basis: 280px;
    background: rgba(0, 0, 0, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(0, 0, 0, 1);
    margin: 10px;
}

.teammate img {
    display: block;
    margin: auto;
    width: 200px;
    height: 300px;
}

/* CONTACT && COPYRIGHT SECTION */

.contact,
.copyright {
    padding-top: 20px;
}